extends ../layout

block content
  h1=title
  - if (messages.info)
    .message.info
      span= messages.info

  if currencylist.length
    each ccy in currencylist
      p=ccy.currencycode
  else
    h1 CKF123
